html{
  position: relative;
  min-height: 100%;
}

body{
  background: url("background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arvo, serif;
}

.navbar-scroll{
  background-color: #FFC017;
}

.jumbotron{
  background-color: transparent;
  letter-spacing: 2px;
  margin-top: 150px;
  padding: 10px;
}

.jumbotron h1{
  font-size: 40px;
}

.jumbotron p{
  font-size: 20px;
}

.signup{
  margin-top: 50px;
}

.yellow{
  background-color: hsl(44, 100%, 55%, 0.7);
}

.yellow:hover{
  background-color: hsl(44, 100%, 55%);
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
